{{page-title "Frontend"}}

<h1>Welcome to the Real-Time Messaging App</h1>

<p>This is a platform where you can send and receive messages in real-time.</p>

{{user-login-form}}

<p>If you don't have an account, please register below:</p>

{{user-registration-form}}

{{outlet}}
